<!DOCTYPE html>
<html lang="ja">

<head>
  <%- include('header', {title: title, baseUrl: baseUrl}) %>
    <script src="https://cdn.jsdelivr.net/npm/ejs@3.1.9/ejs.min.js"></script>
    <script src="/detail.js"></script>
    <script src="/templates.js"></script>
</head>

<body>
  <div>
    <%- include('base', {user: user}) %>
      <main>
        <div>
          <div>
            <h2>
              <%= task.title %>
            </h2>
            <p>
              <%= task.detail %>
            </p>
            <p>期限：<%= new Date(task.end_time).toISOString().split('T')[0] %>
            </p>
            <% if (new Date(task.end_time) < today) { %>
              <button>
                期限切れです！
              </button>
              <% } %>
          </div>
          <div>
            <button>
              <a href="/user">戻る</a>
            </button>
          </div>
        </div>
      </main>
  </div>
</body>

</html>