<!DOCTYPE html>
<html lang="ja">

<head>
  <%- include('header', {title: title}) %>
</head>

<body>
  <div>
    <%- include('base', {user: user}) %>
      <main>
        <div>
          <div>
            <button>
              <a href="/create_task" role="button">新規作成</a>
            </button>
          </div>
          <% tasks.forEach(task=> { %>
            <div>
              <div>
                <h2>
                  <%= task.title %>
                </h2>
              </div>
              <div>
                <button><a href="/detail/<%= task.id %>" role="button">詳細</a></button>
                <button><a href="/update/<%= task.id %>" role="button">編集</a></button>
                <button><a href="/delete/<%= task.id %>" role="button">完了</a></button>
              </div>
            </div>
            <% }) %>
        </div>
      </main>
  </div>
</body>

</html>